/node_modules
/.pnp
.pnp.js
/build
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.log
.vercel
.idea
.eslintcache
.next
out

# Yarn
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# bun
*.bun

# Cloud9 IDE files
.c9
