html {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  background: #121212;
  font-weight: 400;
}

body {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  min-height: 100%;
  color: #ededed;

  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: white;
  cursor: pointer;
}

#__next {
  height: 100%;
}

.glass {
  background: rgba(15, 17, 21, 0.35);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.05);
}

.title {
  font-family: 'Space Mono', monospace;
}

.bg-blur {
  backdrop-filter: blur(10px);
}

