html {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  font-weight: 400;
  background: black;
}

:root {
  --app-height: 100%;
}

body {
  margin: 0;
  box-sizing: border-box;
  display: flex;

  @apply p-4 md:p-10;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  min-height: 100%;
  color: #ededed;

  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
}

.page-dims {
  height: calc(var(--app-height) - theme('padding.10') * 2);
  width: calc(100vw - theme('padding.10') * 2);
}

@media (max-width: theme('screens.md')) {
  .page-dims {
    height: calc(var(--app-height) - theme('padding.4') * 2);
    width: calc(100vw - theme('padding.4') * 2);
  }
}

a {
  user-select: none;
}

#nprogress {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: white;
  cursor: pointer;
}

.glass {
  background: rgba(15, 17, 21, 0.35);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.05);
}

.title {
  font-family: 'Krona One', sans-serif;
}

.bg-blur {
  backdrop-filter: blur(10px);
}
