@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply overscroll-none bg-[#fefefe] font-sans text-neutral-900 antialiased dark:bg-[#040404] dark:text-neutral-100;
}

#__next {
	@apply absolute inset-0;
}

#__next::before {
	content: '';
	background: url(/grain.jpeg) repeat center center;
	background-size: 50%;
	@apply fixed inset-0 -z-10 opacity-[0.03] dark:opacity-[0.018];
}

a[href] {
	@apply ring-indigo-500 focus:outline-none focus-visible:ring-[2.5px];
}
