name: 'lint'

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    name: 'Lint'
    runs-on: ubuntu-latest

    steps:
      - name: Begin CI...
        uses: actions/checkout@v2

      - uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - name: Use cached node_modules
        uses: actions/cache@v2
        with:
          path: node_modules
          key: nodeModules-${{ hashFiles('**/bun.lockb') }}
          restore-keys: |
            nodeModules-

      - name: Install dependencies
        run: bun install
        env:
          CI: true

      - name: Lint
        run: bun lint
        env:
          CI: true

      - name: Danger
        run: bun danger ci
        env:
          GITHUB_TOKEN: ${{ secrets.DANGER_TOKEN }}
